<!DOCTYPE html>
<html lang="en">
  <%- include("../partials/Head") %>

  <body>
    <div class="container">
      <p>please click on below link to reset your password</p>
      <a href="<%= url %>" target="_blank">click</a>
      <p>if you are not able to click above link please follow the url</p>
      <p><strong>Note:- </strong>This link is valid for 2 hours</p>
      <p><%= url %></p>
      <p>if you have any query then let us know we are happy to help</p>
      <%- include("../partials/Footer") %>
    </div>
  </body>
</html>
